</main>
<footer class="w-full bg-red-500 flex sm:h-28 justify-center items-center px-4">
    <div class="flex max-sm:flex-col sm:h-28 sm:w-auto items-center text-lime-300 font-bold">
        <small class="sm:mr-2">William Commandeur © 2024</small>
        <div class="h-full max-sm:w-1/2 sm:w-28 flex justify-between sm:items-center sm:mr-2">
            <a href="mailto:william.commandeur@gmail.com" class="mr-2"><img class="max-sm:h-6 h-1/4" src="/img/arroba.png" alt="Logo d'email"></a>
            <a href="https://github.com/WilliamCommandeur" class="mr-2"><img class="max-sm:h-6 h-1/4" src="/img/github.png" alt="Logo de Github"></a>
            <a href="https://www.linkedin.com/in/william-commandeur/"><img class="max-sm:h-6 h-1/4" src="/img/linkedin.png" alt="Logo de LinkedIn"></a>
        </div>
        <small> © Icons created by Freepik - <a href="https://www.flaticon.com/free-icons/">Flaticon</a> - </small>
    </div>
</footer>
</body>
</html>