</main>
<footer class="w-full bg-red-500 flex h-28 justify-center items-center px-4">
    <div class="flex h-32 w-1/3 justify-around items-center text-lime-300 font-bold">
        <small>William Commandeur © 2024</small>
        <img class="h-1/4" src="/img/arroba.png" alt="Logo d'email">
        <img class="h-1/4" src="/img/github.png" alt="Logo de Github">
        <img class="h-1/4" src="/img/linkedin.png" alt="Logo de LinkedIn">
        <small> © Icons created by Freepik - <a href="https://www.flaticon.com/free-icons/">Flaticon</a> - </small>
    </div>
</footer>
</body>
</html>