</main>
<footer>
    <small>William Commandeur © 2024</small>
    <img src="/img/arroba.png" alt="">
    <img src="/img/github.png" alt="">
    <img src="/img/linkedin.png" alt="">
    <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/at" title="at icons">At icons created by Freepik - Flaticon</a>" 
</footer>
</body>
</html>