<%- include ('partials/header.ejs') %>

        <h2>Bienvenue sur My Secret Santa !</h2>
        <p>
           Cette application a été créée dans le but de faciliter le fameux tirage au sort 
           du Secret Santa, que ce soit en famille, entre amis ou entre collègues. 
           Ici pas besoin de petits papiers ou de main innocente,
           MySecretSanta garantie un tirage au sort complètement aléatoire, 
           et l'anonymat de chaque Secret Santa. MySecretSanta propose aussi à chaque participants
           de compléter une liste de souhaits, orientant le choix du Secret Santa.
           Bref, tu connais le principe, alors donne moi le nom de chaque participant, le budget de cadeau,
           et laisse moi faire le reste !
        </p>
        <a href="#">Commencer mon MySecretSanta</a>

 <%- include ('partials/footer.ejs') %>  