<%- include ('partials/header') %>

<form action="/register" method="POST" class="flex flex-col items-center text-xl w-full sm:w-2/3 lg:w-1/3 bg-zinc-200 justify-around rounded-md overflow-auto">

    <% if (locals.error) { %>
        <div class="bg-red-200 border-2 border-red-500 p-3">
            <p class="text-red-500"><%= error %></p>
        </div>
    <% } %>
    
    <fieldset class="flex flex-col">
        <label class="" for="firstname">Prénom</label>
        <input class="w-80 p-1 mt-1" type="text" id="firstname" name="firstname" placeholder="Prénom">
    </fieldset>

    <fieldset class="flex flex-col">
        <label class="" for="lastname">Nom</label>
        <input class="w-80 p-1 mt-1" type="text" id="lastname" name="lastname" placeholder="Nom">
    </fieldset>

    <fieldset class="flex flex-col">
        <label class="" for="email">Email</label>
        <input class="w-80 p-1 mt-1" type="email" id="email" name="email" placeholder="email@domain.com">
    </fieldset> 

    <fieldset class="flex flex-col">
        <label class="" for="password">Mot de passe</label>
        <input class="w-80 p-1 mt-1" type="password" id="password" name="password" placeholder="*********">
    </fieldset>

    <fieldset class="flex flex-col">
        <label class="" for="confirmation">Confirmation du mot de passe</label>
        <input class="w-80 p-1 mt-1" type="password" id="confirmation" name="password_confirm" placeholder="*********">
    </fieldset>

    <input class="bg-lime-300 p-3 pt-1 rounded-2xl hover text-red-500 lg:text-xl" type="submit" value="S'inscrire">
</form>

<%- include ('partials/footer') %>